name: Deploy
on:
  release
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - run: |
        sudo pip3 install conan
        conan remote add mdf https://api.bintray.com/conan/mdf/2out
        conan create .
        conan user -p ${{ secrets.BINTRAY }} -r mdf dronmdf
        conan upload "*" -r mdf --all
